Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: white;
}

#title {
    margin:auto;
    text-align:center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#top {
    display: flex;
}

#loggedin {
    color: green;
    padding-right: 1%;
    position: absolute;
}

.links {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

#footertext {
    padding-top: 10%;
    margin:auto;
    text-align:center;
}