{% extends 'headerfooter.html' %}

{% block content %}
  <style>
    button { 
          background-color: #FF6F6F; 
          outline: auto;
          outline-style: round;
          border-radius: 5%;
          color: white; 
          padding: 15px; 
          border: none; 
          cursor: pointer;
    }
    .create_button {
      color: white;
      width: 165px;
      font-size: medium;
      margin-left: 68%;
      margin-top: 1%;
    }
    .edit_button {
      color: white;
      margin:5em;
      width: 60px;
      font-size:small;
      margin: 5px;
    }

    .delete_button {
      color: white;
      font-size:small;
      margin: 5px;
    }
    .reservations_button {
      color: white;
      font-size:small;
      margin: 5px;
    }
    .adjust_line_height {
      line-height: 2em;
    }
    .col-md-2 {
      white-space: nowrap;
    }

  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script>
    function edit(id) {
      let temp = document.getElementById(id);
      let buttonsdiv = temp.parentElement;
      let building = buttonsdiv.previousElementSibling.previousElementSibling;
      let name = building.previousElementSibling.previousElementSibling.innerHTML;
      building = building.innerHTML;
      building = building.split(": ")[1];
      name = name.split(": ")[1];
      fullroom = building + " " + name;

      window.location.href = Flask.url_for('editroom', {"room": fullroom});
    }
    function deleteroom(id) {
      let temp = document.getElementById(id);
      let buttonsdiv = temp.parentElement;
      let building = buttonsdiv.previousElementSibling.previousElementSibling;
      let name = building.previousElementSibling.previousElementSibling.innerHTML;
      building = building.innerHTML;
      building = building.split(": ")[1];
      name = name.split(": ")[1];
      fullroom = building + " " + name;

      let confirm = window.confirm(`Are you sure you want to delete the following room?\n${fullroom}`);
      if (confirm){
        window.location.href= Flask.url_for('deleteroom', {"room": fullroom});
      }
    }
    function reservations(id) {
      let temp = document.getElementById(id);
      let buttonsdiv = temp.parentElement;
      let building = buttonsdiv.previousElementSibling.previousElementSibling;
      let name = building.previousElementSibling.previousElementSibling.innerHTML;
      building = building.innerHTML;
      building = building.split(": ")[1];
      name = name.split(": ")[1];
      fullroom = building + " " + name;

      window.location.href = Flask.url_for('roomreservations', {"room": fullroom});
    }
  </script>
  <body>
    <div class="row" style="margin-left: 10px;">
      <p>
        <div class="col-md-2"><h2 style="font-size:xx-large;">All Study Rooms</h2></div>
        <button type="button" class="create_button" onclick="window.location.href= Flask.url_for('createroom');">Create New Room</button>
      </p>
      <p>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th style="font-size: medium;">Room</th>
            </tr>
          </thead>
          <tbody>
            {% for room in rooms %}
              <tr>
                <td style="font-size: medium;">{{loop.index}}. </td>
                <td>
                <h4> Room: {{ room[7] }}</h4>
                <h4 class="adjust_line_height">Occupied: {% if room[3] == True %} No {% else %} Yes {% endif %}</h4>
                <h4 class="adjust_line_height">Building: {{ room[6] }}</h4>
                <h4 class="adjust_line_height">Hours: {{ room[4] }} - {{ room[5] }}</h4>
                <div class="ree">
                  <button id="edit{{loop.index}}" type="button" class="edit_button" onclick="edit(this.id)">Edit</button>
                  <button id="delete{{loop.index}}" type="button" class="delete_button" onclick="deleteroom(this.id)">Delete</button>
                  <button id="reservations{{loop.index}}" type="button" class="reservations_button" onclick="reservations(this.id)">Reservations</button>
                </div>
                </td>
              </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </p>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
{% endblock %}