{% extends 'headerfooter.html' %}

{% block content %}
  <style>
    button { 
      background-color: #FF6F6F; 
      color: white; 
      outline: auto;
      outline-style: round;
      border-radius: 5%;
      padding: 15px; 
      cursor: pointer; 
    }

    .create_button {
      color: white;
      width:fit-content;
      font-size: medium;
      margin-left: 75px;
    }

    .edit_button {
      color: white;
      width: 60px;
      font-size:small;
      margin: 0px;
    }

    .delete_button {
      color: white;
      font-size:small;
      margin: 5px;
    }
    .reservations_button {
      color: white;
      font-size:small;
      margin: 5px;
    }
    .adjust_line_height {
      line-height: 2em;
    }
    .text_color{
      color: white;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script>
    function setadmin(x) {
      let user1id = document.getElementById("email"+x).innerHTML;
      let user1 = user1id.substring(7);
      window.location.href= Flask.url_for("adminusers", {"set": user1});
    }
    function removeadmin(x) {
      let user1id = document.getElementById("email"+x).innerHTML;
      let user1 = user1id.substring(7);
      window.location.href= Flask.url_for("adminusers", {"remove": user1});
    }
    function reservations(id) {
      let temp = document.getElementById(id);
      let buttonsdiv = temp.parentElement;
      let email = buttonsdiv.previousElementSibling.innerHTML;
      email = email.split(": ")[1];

      window.location.href = Flask.url_for('userreservations', {"user": email});
    }
  </script>
  <body>
    <div class="row" style="margin: 8px;">
      <p>
        <div class="col-md-2"><h3 style="font-size:xx-large;">Users</h3></div>
      </p>
      <p>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td style="font-size: medium;">{{loop.index}}. </td>
                <td>
                  <h4>{{ user[1] }} {{ user[2] }}</h4>
                  <h4 class="adjust_line_height" id="email{{loop.index}}">Email: {{ user[3] }}</h4>
                  <div class="ree">
                    <button id="reservations{{loop.index}}" type="button" class="reservations_button" onclick="reservations(this.id)">Reservations</button>
                    {% if user not in admins %}
                      <button id="{{loop.index}}" type="button" onclick="setadmin(this.id)" class="delete_button">Set Admin</button>
                    {% else %}
                      <button id="{{loop.index}}" type="button" onclick="removeadmin(this.id)" class="delete_button">Remove As Admin</button>
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </p>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
{% endblock %}