{% extends 'headerfooter.html' %}

{% block content %}
    <style>
        button {
            background-color: #f0735d; 
            width: 25%;
            color: white; 
            padding: 3%;
            font-size: 160%;
            width : 35%;
            border: none; 
            cursor: pointer;
        }
        @media screen and (max-width: 800px) {
            button {
                width: 40%;
                font-size: 4vw;
            }
        }
        .pages {
            margin: auto;
            width: 50%;
            justify-content: space-between;
            display: flex;
            background-color: rgb(179, 179, 179);
            padding: 10%;
            margin-top: 3%;
        }
    </style>
    <body>
        <div class="pages"> 
            <button id="rooms" onclick="window.location.href= Flask.url_for('adminrooms');" type="button">
                View or Edit Rooms
            </button>
            <button id="users" onclick="window.location.href= Flask.url_for('adminusers');" type="button">
                View or Edit Users
            </button>
        </div>
    </body>
{% endblock %}