{% extends 'headerfooter.html' %}

{% block content %}
  <script>
    var prev_handler = window.onload;
    window.onload = function () {
      if (prev_handler) {
          prev_handler();
      }
      let dc = document.cookie;
      let decodedCookie = decodeURIComponent(dc);
      cookies = decodedCookie.split(";");
      console.log(cookies);
      for (let i = 0; i < cookies.length; i++){
        if (cookies[i].includes("roomname")){
          splitcookie = cookies[i].split("=");
          document.getElementById("success").innerHTML = "Success! " + splitcookie[1] + " has been reserved for " + " {{session.fullname}}";
        }
      }
    }
  </script>
  <body>
    <h1 style="padding-top: 3%; text-align: center" id="success">Success!</h1>
  </body>
{% endblock %}