<footer class = "footer" >
    <div class = "container">
        <div class ="row">
          <div class = "footer-col">
              <h4>Company</h4>
            <ul>
                <li><a href=""#"">About us</a></li>
                <li><a href=""#"">Contact us</a></li>
                <li><a href=""#"">Privacy Policy us</a></li>
            </ul>
          </div> 
          <div class = "footer-col">
              <h4>Get Help</h4>
              <ul>
                  <li><a href="#">FAQ</a></li>
              </ul>
          </div>
          <div class = "footer-col">
              <h4> Follow Us</h4>
              <div class = "social-links">
                <ul>
                    <a href="#"><i class = "fab fa-facebook -f"></i></a>
                    <a href="#"><i class = "fab fa-instagram"></i></a>
                </ul>
              </div>
              
          </div>
        </div>
    </div>
    
</footer>