<!DOCTYPE html>
<html>
    <head>
        {{ JSGlue.include() }}
        <meta charset = "UTF-8">
        <meta name = "description" content = "A place to help you focus on your work and and boost your performance">
        <title>StudySpace</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <script>
            setTimeout(() => {
                const mes = document.getElementById('flashedmessage');
                mes.style.display = 'none';
            }, 4000);
        </script>
        <script>
            window.onload = function () {
                let user = "{{ session.username }}";
                if (user == "") {
                    document.getElementById("loggedin").style.visibility = "hidden";
                    document.getElementById("admin").style.display = "none";
                    document.getElementById("login").innerHTML = "Login";
                    document.getElementById("login").href = Flask.url_for("login");
                    document.cookie = "admin= ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
                }
                else{
                    document.getElementById("loggedin").innerHTML = "Logged in: {{ session.username }}";
                    document.getElementById("login").innerHTML = "Log out";
                    document.getElementById("login").href = Flask.url_for("logout");
                    
                    //admin pages:
                    const urlParams = new URLSearchParams(window.location.search);
                    const myParam = urlParams.get('admin');
                    let admin = myParam;
                    if (admin == "True"){
                        document.getElementById("admin").href = Flask.url_for("adminpages");
                        document.cookie = "admin=" + admin;
                    }
                    else {
                        document.getElementById("admin").style.display = "none";
                    }
                }

                //always set query string on all header pages
                let dc = document.cookie;
                let decodedCookie = decodeURIComponent(dc);
                cookies = decodedCookie.split(";");
                for (let i = 0; i < cookies.length; i++){
                    if (cookies[i].startsWith("admin")){
                        splitcookie = cookies[i].split("=");
                        document.getElementById("home").href = Flask.url_for('home', {"admin": splitcookie[1]});
                        document.getElementById("admin").href = Flask.url_for('adminpages', {"admin": splitcookie[1]});
                        document.getElementById("rooms").href = Flask.url_for('rooms', {"admin": splitcookie[1]});
                    }
                }
            }
        </script>
    </head>
    <body>
        <header>
            <div id="top">
                <h1 id="title">
                    Study Space Reservations
                </h1>
                <h5 id="loggedin"></h5>
            </div>
            <hr/>
            <div class="links">
                <a id="home" href = "{{ url_for('home') }}"> Home</a>
                <a id="rooms" href = "{{ url_for('rooms') }}"> Reserve Room</a>
                <a href = ""> About Us</a>
                <a id="admin">Admin Pages</a>
                <a id="login">Login</a>
                <input type = "text " placeholder = "search" /> 
            </div>
            <hr/>
        </header>
       
        <div class="container">
            {% block content %} {% endblock %}
        </div>        

    </body>
    <footer>
        <h4 id="footertext">this is footer</h4>
    </footer>
</html>





<!-- 

Basic HTML tags : 
1) <header>
2) <main>
3) <footer>


-->
