<!DOCTYPE html>
<html>
    <head>
        {{ JSGlue.include() }}
        <meta charset = "UTF-8">
        <meta name = "description" content = "A place to help you focus on your work and and boost your performance">
        <title>StudySpace</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <script>
            setTimeout(() => {
                const mes = document.getElementById('flashedmessage');
                mes.style.display = 'none';
            }, 4000);
        </script>
        <script>
            window.onload = function () {
                let user = "{{ session.username }}";
                if (user == "") {
                    document.getElementById("loggedin").style.visibility = "hidden";
                    document.getElementById("login").innerHTML = "Login";
                    document.getElementById("login").href = Flask.url_for("login");
                }
                else{
                    document.getElementById("loggedin").innerHTML = "Logged in: {{ session.username }}";
                    document.getElementById("login").innerHTML = "Log out";
                    document.getElementById("login").href = Flask.url_for("logout");
                }
            }
        </script>
    </head>
    <body>
        <header>
            <div id="top">
                <h1 id="title">
                    Study Space Reservations
                </h1>
                <h6 id="loggedin"></h6>
            </div>
            <hr/>
            <div class="links">
                <a href = "{{ url_for('home') }}"> Home</a>
                <a href = "{{ url_for('rooms') }}"> Reserve Room</a>
                <a href = ""> About Us</a>
                <a id="login">Login</a>
                <input type = "text " placeholder = "search" /> 
            </div>
        </header>
       
        <div class="container">
            {% block content %} {% endblock %}
        </div>        

    </body>
    <footer>
        <h4 id="footertext">this is footer</h4>
    </footer>
</html>





<!-- 

Basic HTML tags : 
1) <header>
2) <main>
3) <footer>


-->
