{% extends 'headerfooter.html' %}

{% block content %}
    <style> 
        Body {
        font-family: Calibri, Helvetica, sans-serif;
        background-color: white;
        }
        button { 
            background-color: #FF6F6F; 
            width: 25%;
                color: white; 
                padding: 15px; 
                margin: 10px 0px; 
                border: none; 
                cursor: pointer; 
                } 
        form { 
                border: 3px solid #f1f1f1; 
            } 
        input[type=text], input[type=password] { 
                width: 100%; 
                margin: 8px 0;
                padding: 12px 20px; 
                display: inline-block; 
                border: 2px solid black; 
                box-sizing: border-box; 
            }
        button:hover { 
                opacity: 0.7; 
            } 
        .cancelbtn { 
                width: auto; 
                padding: 10px 18px;
                margin: 10px 5px;
            } 
            
        
        .container { 
                padding: 25px; 
                background-color: white;
            } 
    </style>
    <body>  
        <center> <h1> Student Login Form </h1> </center> 
        <form method="post">
            <div class="container"> 
                <label>Username : </label> 
                <input type="text" placeholder="Enter Username" name="username" required value="{% if 'user' in request.cookies %}{{ request.cookies.get('user') }}{% endif %}">
                <label>Password : </label> 
                <input type="password" placeholder="Enter Password" name="password" required value="{% if 'password' in request.cookies %}{{ request.cookies.get('password') }}{% endif %}">
                <button type="submit">Login</button> 
                <input type="checkbox" name="rememberme" checked="{% if 'remember' in request.cookies %}{{ request.cookies.get('remember') }}{% endif %}"> Remember me 
                <a style="padding-left:1%" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> Forgot password? </a> 
                <a style="padding-left:1%" href = "{{ url_for('create_account') }}"> New User</a>
            </div> 
        </form>   
    </body>   
{% endblock %}
