{% extends 'headerfooter.html' %}
position: absolute;
            opacity: 40%;
            left: 0;
            top: 7%;
            width: 100%;
{% block content %}
    <style>
        .welcome {            
            text-align:center;
            overflow: hidden;
            padding-bottom: 20%;
            position: relative;
        }
        .welcome::before {
            content: "";
            background-image: url('https://edsurge.imgix.net/uploads/post/image/11715/function-1546653205.jpg?auto=compress%2Cformat&w=640&h=259&fit=crop');  
            opacity: 50%;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-size: cover;
        }
        #welcome {
            font-size: 300%;
        }
    </style>
    <div class="welcome">
        <h1 id="welcome">Welcome to Scarlet Study Space!</h1>
        <h2>Click on one of the links above to get started.</h2>
    </div>
{% endblock %}
