{% extends 'headerfooter.html' %}

{% block content %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script>
      var prev_handler = window.onload;
      window.onload = function () {
        if (prev_handler) {
            prev_handler();
        }
        let temp = "{{room}}";
        if (temp == "temp"){
            let title = document.getElementById("titlexd");
            let rooms = document.querySelectorAll('*[id^="xyz"]');
            for (i=0;i<rooms.length;i++){
                rooms[i].innerHTML = "Room: ";
            }
            
            title.innerHTML = "All Reservations for {{user}}";
        }
      }
  </script>
  <body>
    {% if reservations %}
        <p>
            <div class="col-md-2"><h2 id="titlexd" style="font-size:xx-large;white-space: nowrap;">All Reservations for {{room}}</h2></div>
        </p>
        <div class="row" style="margin-left: 10px;">
            <p>
                <table class="table">
                <thead>
                    <tr>
                    <th>#</th>
                    <th style="font-size: medium;">Reservation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td style="font-size: medium;">{{loop.index}}. </td>
                            <td>
                            <h4><b id="xyz{{loop.index}}">User: </b>{{ reservation[8] }}</h4>
                            <h4 class="adjust_line_height"><b>Date: </b>{{ reservation[7] }}</h4>
                            <h4 class="adjust_line_height"><b>Start Time: </b>{{ reservation[5] }}</h4>
                            <h4 class="adjust_line_height"><b>End Time: </b>{{ reservation[6] }}</h4>
                            <h4 class="adjust_line_height"><b>Group Size: </b>{{ reservation[3] }}</h4>
                            <h4 class="adjust_line_height"><b>Reserve Time: </b>{{ reservation[4] }}</h4>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </p>
        </div>
    {% else %}
        <h1 id="nonefound" style="text-align:center;margin-top: 5%;">{% if room != "temp" %}No Reservations Found for {{room}} {% else %} No Reservations Found for {{user}} {% endif %}</h1>
    {% endif %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
{% endblock %}