{% extends 'headerfooter.html' %}

{% block content %}
  <style>

    button { 
      background-color: #FF6F6F;   
      outline: auto;
      outline-style: round;
      border-radius: 5%;
      color: white; 
      padding: 15px; 
      border: none; 
      cursor: pointer; 
    }
    #loggedin {
      text-align: right;
      margin-right: 10px;
    }

    .maininfo {
      margin:auto;
      text-align:center;
    }

    #name1 {
      padding-top:10px;
      padding-bottom: 15px;
    }

    .input {
      margin: auto;
      width: 50%;
      display: table;
      border: 3px solid #f1f1f1;
      padding: 10%;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    .reservebutton {
      margin-left: 45%;
      margin-top: 15%;
    }

    .adjust_line_height {
      line-height: 3em;
    }
    .container { 
      padding: 25px; 
      background-color: white;
    }

    .dropbtn {
      background-color: #e9a6a6;
      color: white;
      padding: 10px;
      font-size: 16px;
      border: none;
    }

    .dropdown {
      position: relative;
      display: table-cell;
      width: 310px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #f0735d;}   

    #equipment {
      text-align: center;
      padding-bottom: 10px;
    }
  </style>
  <script>
    window.onload = function (){
      let dc = document.cookie;
      let decodedCookie = decodeURIComponent(dc);
      cookies = decodedCookie.split(";");
      console.log(cookies);
      for (let i = 0; i < cookies.length; i++){
        if (cookies[i].includes("roomname")){
          splitcookie = cookies[i].split("=");
          document.getElementById("name1").innerHTML = splitcookie[1];
        }
      }
    }
  </script>

  <body>
    <h1 class="maininfo" id="name1">reeeee</h1>

    <h4 id="equipment">
      Available Equipment: 
      {% if equipment %}
        {% for equip in equipment %}
          {% if loop.last %} {{equip}} {% else %} {{equip}}, {% endif %}
        {% endfor %}
      {% else %}
        None
      {% endif %}
    </h4>

    <div class="input">
      <form method="post">
        <div style="display: table-row">
          <div class="dropdown">
            <label>Group Size : </label> 
            <select class="dropbtn" name="groupsize">
              <div class="dropdown-content">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </div>
            </select>
          </div>
        
          <div class="dropdown">
            <label>Start Time : </label> 
            <select class="dropbtn" name="start">
              <div class="dropdown-content">
                <option value="6:00am">6:00am</option>
                <option value="7:00am">7:00am</option>
                <option value="8:00am">8:00am</option>
                <option value="9:00am">9:00am</option>
                <option value="10:00am">10:00am</option>
                <option value="11:00am">11:00am</option>
                <option value="12:00pm">12:00pm</option>
                <option value="1:00pm">1:00pm</option>
                <option value="2:00pm">2:00pm</option>
                <option value="3:00pm">3:00pm</option>
                <option value="4:00pm">4:00pm</option>
                <option value="5:00pm">5:00pm</option>
                <option value="6:00pm">6:00pm</option>
                <option value="7:00pm">7:00pm</option>
                <option value="8:00pm">8:00pm</option>
                <option value="9:00pm">9:00pm</option>
              </div>
            </select>
          </div>
        
          <div class="dropdown">
            <label>End Time : </label>
            <select class="dropbtn" name="end">
              <div class="dropdown-content">
                <option value="7:00am">7:00am</option>
                <option value="8:00am">8:00am</option>
                <option value="9:00am">9:00am</option>
                <option value="10:00am">10:00am</option>
                <option value="11:00am">11:00am</option>
                <option value="12:00pm">12:00pm</option>
                <option value="1:00pm">1:00pm</option>
                <option value="2:00pm">2:00pm</option>
                <option value="3:00pm">3:00pm</option>
                <option value="4:00pm">4:00pm</option>
                <option value="5:00pm">5:00pm</option>
                <option value="6:00pm">6:00pm</option>
                <option value="7:00pm">7:00pm</option>
                <option value="8:00pm">8:00pm</option>
                <option value="9:00pm">9:00pm</option>
                <option value="10:00pm">10:00pm</option>
              </div>
            </select>
          </div>
        </div>
        <div class="reservebutton">
          <button id="reserve" type="submit" name="Reserve">Reserve</button>
        </div>
      </form>
    </div>
  </body>
{% endblock %}