<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IPRO Group J</title>
    <script>
        document.location = "?name=Wishnick_Hall_129&start=5:00PM&end=7:00PM"
    </script>
  </head>

  <body>
    <p style="text-align: right;margin-right: 10px;">Logged in: Joe</p>
    <h1 id = "name" style="margin:auto;text-align:center;padding-top:30px">Wishnick Hall 129</h1>
    <h3 id = "start" style="margin:auto;text-align:center;margin-top:5%">Start Time: 5:00 PM</h3>
    <h3 id = "end" style="margin:auto;text-align:center;margin-top:5%">End Time: 7:00 PM</h3>

    <div style="margin-left: 43%;margin-top:100px">
        <form method="post">
            <label for="size">Group Size:</label>
            <input name="size" style="margin: 0 auto;" type="text" id="size" met>
        </form>
    </div>
    
    <div>
        <button style="margin-left: 50%;margin-top: 5%;" id="reserve" type="button" name="Reserve"><a href="confirmation.html">Reserve</a></button>
    </div>
  </body>