{% extends 'headerfooter.html' %}

{% block content %}
  <style>

    button { 
      background-color: #FF6F6F;   
      outline: auto;
      outline-style: round;
      border-radius: 5%;
      color: white; 
      padding: 15px; 
      border: none; 
      cursor: pointer; 
    }
    #loggedin {
      text-align: right;
      margin-right: 10px;
    }

    .maininfo {
      margin:auto;text-align:center;
    }

    #name {
      padding-top:30px;
    }
    #time {
      margin-top:5%;
      margin-left: 45%;
    }

    .input {
      margin-left: 43%;
      margin-top:100px;
    }

    #size {
      margin: 0 auto;
      
    }

    #timeinput {
      margin: 0 auto;
      margin-left: 3.65%;
    }

    .reservebutton {
      margin-left: 10%;
      margin-top: 5%;
    }

    .adjust_line_height {
    line-height: 3em;
  }

  </style>
  <script>
    function getName() {
      let temp = '';
      let dc = document.cookie;
      let decodedCookie = decodeURIComponent(dc);
      cookies = decodedCookie.split(";");
      for (let i = 0; i < cookies.length; i++){
        if (cookies[i].startsWith("roomname")){
          splitcookie = cookies[i].split("=");
          document.getElementById("name").innerHTML = splitcookie[1];
          temp = splitcookie[1];
        }
      }
      // //set query params in url to be used with flask
      // const urlParams = new URLSearchParams(window.location.search);
      // urlParams.set('roomname', temp);
      // window.location.search = urlParams;
    }
  </script>

  <body onload="getName()">
    <p id="loggedin">Logged in: Joe</p>
    {% for message in get_flashed_messages() %}
      <center><p style="color: #fd3d3d;">{{ message }}</p></center>
    {% endfor %}
    <h1 class="maininfo" id = "name"></h1>
    
    <div class="input">
        <form action="{{ url_for('confirm') }}" method="post">
            <div style="font-size: large;">
              <label for="size">Group Size:</label>
              <input name="groupsize" type="text" id="size">
            </div>

            <div style="font-size: large;" class="adjust_line_height">
              <clabel for="time">Time:</label>
              <input name="time" type="text" id="timeinput">
            </div>
            
            <div class="reservebutton">
              <button onclick="" id="reserve" type="submit" name="Reserve">Reserve</button>
            </div>
        </form>
    </div>
  </body>
{% endblock %}