{% extends 'headerfooter.html' %}

{% block content %}
    <style>
        .rooms { 
            padding: 50px;
            background-color: rgb(179, 179, 179);
        }  

        button { 
        background-color: #FF6F6F; 
        width: 25%;
            color: white; 
            padding: 15px; 
            margin: 10px 0px; 
            width : 200px;
            border: none; 
            cursor: pointer; 
            
        } 

        .box {
            width : 1000 px;
            height : 200 px;
            background-color : rgb(83, 78, 78);
        }
    </style>
    <script>
        function relay(id) {
            var text = document.getElementById(id).innerHTML;
            text = text.replace(/\s/g, ''); //remove extra spaces
            document.cookie = "roomname=" + text;
            window.location.href = "room_info.html";
        }
    </script>
    <center> <h1> Reserve A Room </h1> </center> 
    {% for message in get_flashed_messages() %}
        <center><p style="color: red;">{{ message }}</p></center>
    {% endfor %}
    <form>
        <div class="rooms"> 
            <button id="room1" onclick="relay(this.id)" type="reset">
                Wishnick Hall 129
            </button>
        </div>
    </form>
{% endblock %}
