<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "css/style.css">
        <link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <meta name = "description" content = "A place to help you focus on your work and and boost your performance">
        <title>StudySpace</title>
    </head>
    <body>
        <div class = "header">
            <div class = "center">

        <h1>
            Study Space Reservations
        </h1>
        <hr/>

        <div class = "navigation">
        
        <a href = "General Homepage Wireframe.jpg" target = "_blank"> Home</a>
        <a href = "ReserveRoom.html" target = "_blank"> Reserve Room</a>
        <a href = "page3.html" target = "_blank"> About Us</a>
        <a href = "page4.html" target = "_blank"> Media</a>
        <div class = "right"><input type = "text "value = "search" />

        </div>
            
       
    
    </div>
    </div>
        
        <footer class = "footer" >
                <div class ="row">
                  <div class = "footer-col">
                      <h4>Company</h4>
                    <ul>
                        <li><a href=""#"">About us</a></li>
                        <li><a href=""#"">Contact us</a></li>
                        <li><a href=""#"">Privacy Policy</a></li>
                    </ul>
                  </div> 
                  <div class = "footer-col">
                      <h4>Get Help</h4>
                      <ul>
                          <li><a href="#">FAQ</a></li>
                      </ul>
                  </div>
                  <div class = "footer-col">
                      <h4> Follow Us</h4>
                      <div class = "social-links">
                        <ul>
                            <a href="#"><i class = "fab fa-facebook -f"></i></a>
                            <a href="#"><i class = "fab fa-instagram"></i></a>
                        </ul>
                      </div>
                      
                  </div>
                </div>
            </div>
            
        </footer>
      
    </body>
    
</html>





<!-- 

Basic HTML tags : 
1) <header>
2) <main>
3) <footer>


-->